/flatUIdemo Maven Webapp/.settings
/flatUIdemo Maven Webapp/target
/flatUIdemo Maven Webapp/.classpath
/flatUIdemo Maven Webapp/.project
/flatUIdemo Maven Webapp/.springBeans
/flatUIdemo Maven Webapp/.tern-project
